.task1 div{
    width: fit-content;
    background-color: rgb(160, 57, 57);
    max-width: 400px;
    max-height: 30px;
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    overflow: hidden;
}
.task2{
    text-align: center;
}
.task2 .one{
    text-transform: uppercase;
}
.task2 .two{
    text-transform: capitalize;
}
.task2 .three{
    text-transform: lowercase;
}
.task3 , .task3_2,.task3_3{
    background-color: #eee;
    padding: 20px;
    width: 400px;
    line-height: 1.6;
    margin-bottom: 20px;
}
.task3_3{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}